* {
  padding: 0px;
  margin: 0px;
  border: 0;
}
body {
	background-color: #293038;
	font-family: 'DM Sans', sans-serif;
	font-size: 1rem;
	padding: 1rem;
}
em {
	color: #7b89a2;
}
:focus {
	outline: none;
	outline: 2px dotted #2b79d2;
}
/* Error color added with JavaSCript */
.red {
	border: 2px solid #FF5722 !important;
	background-color: #f1eceb !important;
}
.email-generator-form {
	display: flex;
	flex-direction: column;
	background-color: #d8dee6;
	max-width: 25rem;
	padding: 1.5rem;
	margin: 2rem auto;
}
.email-generator-form input {
	height: 2rem;
	padding-left: .5rem;
	margin: .5rem 0 1.2rem 0;
	background-color: #f5f5f7;
}
.email-generator-form, .email-generator-form input, button, .email-wrapper {
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.email-generator-form, .email-wrapper {
	-webkit-box-shadow: 5px 5px 41px -9px #1E2328; 
box-shadow: 5px 5px 41px -9px #1E2328;
}
label {
	color: #3d4e6d;
}
.email-entered-wrapper {
	display: flex;
	align-items: baseline;
}
.email-entered-wrapper > * {
	flex: 1;
}
button {
	cursor: pointer;
	color: white;
	font-size: .9rem;
	font-weight: bold;
	background-color: #2b79d2;
	padding: 1rem;
	letter-spacing: .05rem;
	border-bottom: 1px solid #236abb;
	transition: background-color .5s;
}
button:hover {
	background-color: #236abb;
}
.create-signature-button {
	margin-top: 1rem;
}
.email-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    background-color: white;
    padding: 1.5rem;
	margin: 1rem auto;
}
.hidden {
  display: none;
}